.navbar {
  display: flex;
  width: 100%;
  height: var(--header-height);
  justify-content: space-between;
  position: relative;
  background-color: var(--white-color);
}
.navbar__menu-btn-show,
.navbar__menu-btn-close {
  display: none;
  padding-right: 24px;
}
.navbar-menu_pc {
  list-style-type: none;
  display: flex;

  justify-content: center;
  align-items: center;
}

.navbar li {
  /* margin-right: 24px; */
  font-weight: 500;
  line-height: 24px;
  padding: 6px 12px;
  cursor: pointer;
}

.navbar li:not(:last-of-type):hover {
  background-color: var(--main-color);
  color: var(--white-color);
}

.navbar-menu_pc li:last-of-type {
  margin-right: 0px;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-logo .logo {
  margin-right: 12px;
}

.navbar_menu-auth {
  display: flex;
}

.navbar_menu-auth .login {
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 5px 8px;
  border: 1px solid var(--main-color);
  margin-right: 12px;
}
.navbar-menu_mobile {
  display: none;
}

.navbar_menu-auth .signup {
  color: var(--main-color);
  padding: 5px 8px;
  border: 1px solid var(--main-color);
}

.navbar_menu-auth .signup:hover {
}

.navbar-menu_mobile {
  position: absolute;
  top: 100%;
  transform-origin: top center;
  animation: translateX 200ms ease-in-out forwards;
}

@keyframes translateX {
  0% {
    opacity: 0.4;
    transform: translateX(60px);
  }

  80% {
    /* opacity: .8; */
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.navbar-menu_mobile li {
  margin: 16px 0;
}

.navbar-menu_mobile {
  width: 100%;
  background-color: var(--white-color);
  padding: 0 16px;
}

/* Banner */

.banner {
  height: 402px;
  width: 100vw;
  position: relative;
}
.overlay-banner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 0;
}

.wrapper-banner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #aaa;
  background-image: url(assets/banner.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white-color);
  z-index: 100;
}

.wrapper-banner .count_down-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  z-index: 1;
}
.wrapper-countdown {
  text-align: center;
  margin-right: 48px;

}

.wrapper-countdown:last-of-type {
  margin-right: 0;
}

.wrapper-countdown .time_type {
  margin-top: 8px;
  line-height: 21px;
  font-size: 14px;
}


.banner_countdown {
  display: flex;
  z-index: 1;
  position: relative;
}

.character-dubai {
  position: absolute;
  background-image: url(assets/images/character.svg);
  left: 100%;
  top: -61%;
}

.milestone {
  width: 24px;
  height: 24px;
  transform: rotate(45deg);
  border: 3px solid #fff;
  background-color: var(--main-color);
  margin-bottom: 12px;
}


.wrapper-discount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.discount {
  width: 161px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discount.border {
  background-image: url(/assets/images/wrapper-schedule.svg);

}
.wrapper-banner_scheduler {
  display: flex;
  justify-content: center;
  width: 100%;
}
.banner_scheduler {
  position: relative;
  display: flex;
  width: 60%;
  justify-content: center;
}

.wrapper-schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
}
.banner_scheduler-line {
  height: 2px;
  width: 71%;
  position: absolute;
  /* border: 3px solid #ccc; */
  background-color: #fff;
  top: 11px;
  right: 140px;
}

.discount p {
  padding: 5px 18px;
}

.wrapper-schedule__time {
  margin-bottom: 8px;
}


.base-timer {
  position: relative;
  width: 118px;
  height: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;

}

.base-timer__svg {
  transform: scaleX(-1);
  position: absolute;
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 1px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 3px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: #50ffee;
}

.base-timer__label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  line-height: 54px;
  align-items: center;
  font-weight: 400;
}

.menu-bar {
  width: 100%;
  height: 50%;
  background-color:   #13B7A7;
}

.menu-bar ul {
  display: flex;
}
.menu-bar ul li.active {
  background-color: var(--main-color);
}

.menu-bar ul li:hover {
  background-color: var(--main-color);
}


.menu-bar ul li{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
}

.menu-bar_link {
  color: var(--white-color);
  margin-left: 11px;
}

.banner-match {
  height: 407px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/assets/images/menu/background.svg);
}

.banner-match__list {
  display: flex;
}

.wrapper-banner-match {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 407px;
}

.wrapper-banner-match  h3 {
  color: var(--white-color);
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  margin-top: 45px;
}


.banner-match__item {
  background-color: var(--white-color);
  width: 192px;
  height: 224px;
  padding: 8px;
  margin: 0px 8px;
}

.banner-match__item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-match__link {
  background-color:   #13B7A7;
  color: var(--white-color);

}

.banner-wrapper_team {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;
}

.wrapper_team-item {
  display: flex;
  align-items: center;
  position: relative;
}


.wrapper_team-item img {
  position: absolute;
}

.wrapper_team-item span {
  margin: 0 8px;
  font-size: 14px;
}

.wrapper_team-item .left{
  position: absolute;
  left: -40px;
}


.wrapper_team-item .right{
  position: absolute;
  right: -40px;
}

.banner-match__separate {
  margin: 10px 0 6px;
}

.banner-match__league {
  display: flex;
  font-size: 12px;
}
.banner-match__league img {
  margin-right: 8px;
}

.banner-match__time {
  font-size: 16px;
  font-weight: 600;
  margin: 6px 0 8px;
}

.banner-match__link {
  width: 100%;
  text-align: center;
  padding: 5px 0;
}

.banner-team_name {
  font-weight: 600;
}